/*Utiles*/
.centerElementsWidth { /*Centrar los elementos*/
    text-align: center;
}

.color{ /*Para probar el modelo de caja*/
    border: 2px solid red;
}

.inlineElement{ /*Convierte los elementos a elemento de linea*/
    display:inline
}

.dropdown-toggle::after { /*Quita la flecha hacia abajo de los DropDOwn de Boostrapt*/
    display:none;
}

.centerElementsHeight {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.cursorPointer{
    cursor: pointer
}


/*Header*/

