/*Utiles*/

.color{ /*Para probar el modelo de caja*/
    border: 2px solid red;
}

.color2{ /*Para probar el modelo de caja*/
    border: 2px solid green;
}

.inlineElement{ /*Convierte los elementos a elemento de linea y que conserve su margen*/
    display:inline;
}

.dropdown-toggle::after { /*Quita la flecha hacia abajo de los DropDOwn de Boostrapt*/
    display:none;
}

/* .centerElementsHeight {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
} */

.cursorPointer{
    cursor: pointer;
}

.greenTitle {
    color: green;
    font-weight: 650;
}

body{
    background-color:white;
}

.contenedor{
    padding-bottom: 60px;
    background-color:#D5DBDB;
}

.colorWhite{
    color: white;
}

.centerElement{
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerHorizontal{
    text-align: center;
}

/**********************Banners Home*****************************/
.filaTamanio{
    height:350px;
}

.filaTamanioInferior{
    height:260px;
}

.bannerPricincipal{
    height:350px;
}

.banner{
    background: url(http://localhost/Php/coomulsap/public/img/Foto01.jpg) no-repeat center center ; 
    background-size:100% auto;
}

.videosBanner{
    background: url(http://localhost/Php/coomulsap/public/img/Foto08.jpg) no-repeat center center ; 
    background-size:100% auto;
}

.educacionBanner{
    background: url(http://localhost/Php/coomulsap/public/img/Foto10.jpg) no-repeat center center ; 
    background-size:100% auto;
}

.epjaBanner{
    background: url(http://localhost/Php/coomulsap/public/img/Foto02.jpg) no-repeat center center ; 
    background-size:100% auto;
}

.cemcoBanner{
    background: url(http://localhost/Php/coomulsap/public/img/Foto11.jpg) no-repeat center center ; 
    background-size:100% auto;
}

.produccionBanner{
    background: url(http://localhost/Php/coomulsap/public/img/Foto06.jpg) no-repeat center center ; 
    background-size:100% auto;
}

.investigacionBanner{
    background: url(http://localhost/Php/coomulsap/public/img/Foto07.jpg) no-repeat center center ; 
    background-size:100% auto;
}

.pedagogiaBanner{
    background: url(http://localhost/Php/coomulsap/public/img/Foto03.jpg) no-repeat center center ; 
    background-size:100% auto;
}

.talentoBanner{
    background: url(http://localhost/Php/coomulsap/public/img/Foto09.jpg) no-repeat center center ; 
    background-size:100% auto;
}

.copasstBanner{
    background: url(http://localhost/Php/coomulsap/public/img/Foto05.jpg) no-repeat center center ; 
    background-size:100% auto;
}

.asociadosBanner{
    background: url(http://localhost/Php/coomulsap/public/img/Foto12.jpg) no-repeat center center ; 
    background-size:100% auto;
}

.titleBanner{
    margin-top: 100px;
    margin-left: 100px;
}

.titleWeight{
    font-weight: 700;
}

.buttonBanner{
    margin-left: 190px;
}

/**********************Banners Home*****************************/

/**********************Foter*****************************/
.footer{
    background-color: white;
}

.paragraphGray{
    color:gray;
}
/**********************Foter*****************************/


/*1080 1366 1024 768 480 y 320*/
/* Smartphones (portrait) ———– */
@media only screen and (min-width: 320px) and (max-width: 480px) { 
    .bannerPricincipal{
        height:130px;
    }
 }



/* Smartphones (landscape) ———– */
@media only screen
and (min-width : 321px) and (max-width: 768) and (orientation: landscape){
    .banner{
        height:150px;
        background-color: red;
        }
}

